---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8"
;

$vg_grey: #1F2126; 
$vg_yellow: #E8B814;
$vg_yellow_light: #FFC700; 
$vg_pink: #F21368;
$vg_blue: #0366D6;

$background-color: $vg_grey;
$link-color: $vg_yellow;
$primary-color: $vg_blue;

$masthead-link-color: $vg_pink;
$masthead-link-color-hover: mix(#fff, $vg_pink, 25%);

a {
    color: $vg_blue;
    text-decoration: none;
}

.page__title {
    color: $vg_yellow;
}

h1 {
    color: $vg_yellow; 
}

h2 {
    color: $vg_pink; 
}

h3 {
    color: $vg_blue; 
}



@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
